<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <title>Abi Store</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="/images/logo.png" alt="" /></a>
      <a class="navbar-brand" href="#">Abi Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="clock" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">|</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= user.name%>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="list bg-light">
    <p class="title">Abi-System</p>
    <ul>
      <li id="Dashboard" onclick="window.location.href='/'"><ion-icon class="icon" name="library-outline"></ion-icon>
        Dashboard
      </li>
      <li id="storage" onclick="window.location.href='/storage'"><ion-icon class="icon"
          name="server-outline"></ion-icon> Storages</li>
      <li id="items" onclick="window.location.href='/items'"><ion-icon class="icon" name="cube-outline"></ion-icon>
        Items</li>
      <li id="sell" onclick="window.location.href='/sell'"><ion-icon class="icon" name="bag-add-outline"></ion-icon>
        Orders</li>
      <li id="permissions" onclick="window.location.href='/permissions'"><ion-icon class="icon"
          name="id-card-outline"></ion-icon> Permissions</li>
      <li id="purchase" onclick="window.location.href='/purchase/get-purchases'"><ion-icon class="icon"
          name="cash-outline"></ion-icon> Purchase</li>
      <li id="size" onclick="window.location.href='/size'"><ion-icon class="icon" name="shirt-outline"></ion-icon> Sizes
      </li>
      <li id="analysis" onclick="window.location.href='/analysis'"><ion-icon class="icon" name="analytics-outline"></ion-icon> Analysis
      </li>
      <li id="dailyMoney" onclick="window.location.href='/dailymoney'"><ion-icon class="icon" name="calendar-outline"></ion-icon> Daily transaction
      </li>
      <div class="bottom">
        <li>
          <form action="/passport/sign-out" method="post">
            <button><ion-icon class="icon" name="log-out-outline"></ion-icon> Logout</button>
          </form>
        </li>
      </div>
    </ul>
  </div>
  <script src="/javascript/clock.js"></script>