<%- include("../layout/navbar") -%>
    <div class="colors">
        <br><br>
        <p class="title">Colors</p>
        <button onclick="show()" id="show-btn" class="show"><ion-icon class="icon" name="add-outline"></ion-icon></button>
        <button onclick="hide()" id="hide-btn" class="hide"><ion-icon class="icon" name="remove-outline"></ion-icon></button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Color</th>
                    <th id="table-text">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="color-input" id="colors-input">
                    <form action="/colors/add" method="post">
                        <td><input name="color" type="color"></td>
                        <td><button class="colors-form-btn"><ion-icon class="icon" name="add-outline"></ion-icon></button></td>
                    </form>
                </tr>
                <% colors.forEach(color => {%>
                    <tr>
                        <td><div class="table-color" style="background-color: <%= color.hex%>;"></div></td>
                        <td><form action="/colors/delete/<%= color.id%>?_method=DELETE" method="post">
                            <button class="delete"><ion-icon class="icon" name="remove-outline"></ion-icon></button>
                        </form></td>
                    </tr>
                <%}) %>
            </tbody>
        </table>
    </div>

    <script src="/javascript/colors.js"></script>
    <%- include("../layout/footer") -%>